<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>
    {% include 'bootstrap/bootstrap.css.twig' %}
    <link rel="stylesheet" href="/css/admin-panel.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
    {# <link rel="stylesheet" type="text/css" href="/css/vender/DataTables/datatables.min.css"> #}

    <script type="text/javascript" src="/js/AdminInterface.js"></script>
</head>