{# sidebar.twig #}
{# admin menu, the left one in the page #}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
    	<li><a href="#">Home</a></li>
        <li><a href="#">Employees</a></li>
        <li><a href="#">Database</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Messages</a></li>
        <li><a onclick="AdminInterface.showLogs();">Logs</a></li>
        <li><a href="#">Help</a></li>
    </ul>
</div>