{# sidebar.twig #}
{# admin menu, the left one in the page #}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
    	<li><a onclick="AdminInterface.showMenuTab('#home-menu')">Home</a></li>
        <li><a onclick="AdminInterface.showMenuTab('.employees-menu')">Employees</a></li>
        <li><a onclick="AdminInterface.showMenuTab('#database-menu')">Database</a></li>
        <li><a onclick="AdminInterface.showMenuTab('#reports-menu')">Reports</a></li>
        <li><a onclick="AdminInterface.showMenuTab('#messages-menu')">Messages</a></li>
        <li><a onclick="AdminInterface.showMenuTab('#log-menu')">Logs</a></li>
        <li><a onclick="AdminInterface.showMenuTab('#help-menu')">Help</a></li>
    </ul>
</div>