{# The homepage for the website #}
{# website.hp #}
<script>
var currentUser = {{ user|json_encode|raw }};
</script>
{% include 'website/common/header.twig' %}
{% include 'website/common/navbar.twig' %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sal Entries<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a onclick="userInterface.toggleSalMenu('#sal-entry-open', 'slide', 300)">Open</a></li>
            <li><a onclick="userInterface.toggleSalMenu('#sal-entry-pending', 'slide', 300)">Pending</a></li>
            <li><a onclick="userInterface.toggleSalMenu('#sal-entry-approved', 'slide', 300)">Approved</a></li>
            <li><a onclick="userInterface.toggleSalMenu('#sal-entry-approved', 'slide', 300)">Closed</a></li>
            <li><a onclick="userInterface.toggleSalMenu('#sal-entry-open', 'slide', 300)">Corrections</a></li>
          </ul>
        </li>
        <li><a onclick="userInterface.toggleSalMenu('#team-container', 'slide', 300)">Team</a></li>
        <li><a onclick="userInterface.toggleSalMenu('#reports-container', 'slide', 300)">Reports</a></li>
        <li><a onclick="userInterface.toggleSalMenu('#export-sals-container', 'slide', 300)">Export</a></li>
      </ul>
      {# <ul class="nav nav-sidebar">
        <li><a href="">Messages</a></li>
      </ul> #}
    </div>
{#     <div class="loadme-dot">
        <div class="loadme-cubeGrid loadme-cubeGrid1"></div>
        <div class="loadme-cubeGrid loadme-cubeGrid2"></div>
        <div class="loadme-cubeGrid loadme-cubeGrid3"></div>
        <div class="loadme-cubeGrid loadme-cubeGrid4"></div>
        <div class="loadme-cubeGrid loadme-cubeGrid5"></div>
        <div class="loadme-cubeGrid loadme-cubeGrid6"></div>
        <div class="loadme-cubeGrid loadme-cubeGrid7"></div>
        <div class="loadme-cubeGrid loadme-cubeGrid8"></div>
        <div class="loadme-cubeGrid loadme-cubeGrid9"></div>
    </div>
    <div class="loadme-mask"></div> #}
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Dashboard</h1>
        {% include 'website/pages/overview.team.twig' %}
          <div class="row" id="sal-entry-open" style="display:none">
            {% include 'website/pages/sal/sal.open.twig' %}
          </div>
          <div class="row" id="sal-entry-pending" style="display:none">
            {% include 'website/pages/sal/sal.pending.twig' %}
          </div>
          <div class="row" id="sal-entry-approved" style="display:none">
            {% include 'website/pages/sal/sal.approved.twig' %}
          </div>
          <div class="row" id="team-container" style="display:none">
            {% include 'website/pages/supervisor/team.twig' %}
          </div>
          <div class="row" id="reports-container" style="display:none">
            {% include 'website/pages/reports.twig' %}
          </div>
          <div class="row" id="export-sals-container" style="display:none">
            {% include 'website/pages/exports/export.sals.twig' %}
          </div>
      </div>
    </div>
  </div>
</div>
{% include 'website/common/footer.twig' %}