<div class="row placeholders" id="team-members-container" >
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="navbar-brand">Team Members</p>
        <button type="button" class="btn btn-default navbar-btn" aria-expanded="true" data-toggle="collapse" href="#members-container">Show/Hide</button>
      </div>
    </div>
  </nav>
  <div class="row collapse in" id="members-container">
    {% for member in team %}
        <div class="col-xs-6 col-sm-3 placeholder">
          <a href=""><img src="/images/unknown_user.jpg" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail"></a>
          <h4>{{member['FirstName'] ~ " " ~ member['LastName']}}</h4>
          <span class="text-muted">{{member['Job Title']}}</span>
        </div>
    {% endfor %}
  </div>
</div>