<div class="row placeholders" id="team-members-container" >
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="navbar-brand">Team Members</p>
        <button type="button" class="btn btn-default navbar-btn" onclick="UserInterface.toggleTarget('#members-container', 'clip', 300)">Show/Hide</button>
      </div>
    </div>
  </nav>
  <div class="row" id="members-container">
    <div class="col-xs-6 col-sm-3 placeholder">
      <a href=""><img src="/images/unknown_user.jpg" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail"></a>
      <h4>Daniel</h4>
      <span class="text-muted">ISS II</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <a href="#"><img src="/images/unknown_user.jpg" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail"></a>
      <h4>George</h4>
      <span class="text-muted">ISS II</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="/images/unknown_user.jpg" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Jim</h4>
      <span class="text-muted">ISS I</span>
    </div>
  </div>
  </div>