<div class="row" id="member-sal-closed-container">
	<div class="col-lg-12">
		<h2 class="page-header text-center">Closed
			<div class="btn-group">
			  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="left:50px;">
			    Additional Options <span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu" style="left:50px; font-size:14px;">
			    	<li><a href="#">Archive SAL's</a></li>
			  	</ul>
			</div>
		</h2>
		<br>
		<div class="row loading-spinner-now" style="display:none">
			<div class="col-xs-12">
				<div class="loadme-bounced">
					<div class="loadme-bounced-child loadme-bounced1"></div>
					<div class="loadme-bounced-child loadme-bounced2"></div>
					<div class="loadme-bounced-child loadme-bounced3"></div>
				</div>
				<div class="loadme-mask"></div>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary" id="panel-member-closed-sals">
					<div class="panel-heading text-center">
						<h3 class="panel-title"></h3>
					</div>
					<div class="panel-body sal-entries" id="panel-body-closed-sals">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>