<div class="alert alert-danger alert-dismissible collapse" id="alert-delete-supervisor" role="alert">
    {# <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button> #}
    <h3>Delete Supervisor</h3>
    <p id="alert-delete-supervisor-message"></p>
    <p>
        <button class="btn btn-danger" id="submit-supervisor-delete">Delete</button>
        <button class="btn btn-default" data-dismiss="alert">Cancel</button>
    </p>
</div>