<!-- Modal -->
<div class="modal fade" id="supervisor-add-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Supervisor</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="role-userId" class="col-sm-2 control-label">Employees</label>
                        <div class="col-sm-10">
                            <select class="selectpicker form-control" data-live-search="true" id="supervisor-create-form-select">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="supervisor-add-submit">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div> 
    </div>
</div>