{# admin.hp #}
{% include 'admin/common/header.twig' %}

{% include 'admin/common/menu.twig' %}

<div class="container-fluid">
    {% include 'admin/common/sidebar.twig' %}
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="dashboard-main">
            <h1 class="page-header">Dashboard</h1>
            <div class="well" id="home-menu" style="display:none"></div>
            <div class="well" id="employees-menu" style="display:none">
                {% include 'admin/pages/submenu.employees.twig' %}
            </div>
            <div class="well" id="reports-menu" style="display:none">
            </div>
            <div class="well" id="messages-menu" style="display:none"></div>
            <div class="well" id="log-menu" style="display:none">
                {% include 'admin/pages/submenu.logs.twig' %}
                <table id="log-content-table" class="table display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Message</th>
                            <th>Channel</th>
                            <th>Context</th>
                            <th>Date</th>
                            <th>Log ID</th>
                            <th>Log Severity</th>
                            <th>Log Type</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="well" id="help-menu" style="display:none"></div>

            <div class="well" id="database-menu" style="display:none">
                {% include 'admin/pages/submenu.database.twig' %}
            </div>
        </div>
    </div>
</div>
{% include 'admin/common/footer.twig' %}
