<div class="container" id="logs">
	<div class="row">
		<div class="col-lg-2 col-md-2"></div>
		<div class="col-lg-8 col-md-8">
			<button type="button" class="btn btn-primary" onclick="AdminInterface.logInterface('show', 'app-logs')">App Logs</button>
			<button type="button" class="btn btn-primary">Sal Api Logs</button>
			<button type="button" class="btn btn-primary">TimeIps Api Logs</button>
		</div>
		<div class="col-lg-2 col-md-2"></div>
	</div>
</div>