<!-- Modal -->
<div class="modal fade" id="member-status-change-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Title</h3>
            </div>
            <div class="modal-body text-center">
                {# <form>
                    <div class="form-group">
                        <p>Please give a description of the error found in the sal</p>
                        <h3 style="color:#777;">Error Meassge</h3>
                        <textarea class="form-control" id="sal-error-message" rows="4"></textarea>
                    </div>
                </form> #}
                {# <div class="well">
                    <h4>Please Confirm</h4>
                </div> #}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div> 
    </div>
</div>