<div class="container-fluid" id="flash-message-box" style="display:none;">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-danger text-center" id="form-error" role="alert">
            </div>
        </div>
  </div>
</div>